<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="card" >
        <div class="card-body">
          <h5 >Task Management Project</h5>
          <ul>
            <li>You can create task and assign a user in Tasks section.And update and delete them</li>
            <li>In To Do tasks section you can see the task where people assinged you.</li>
            <li>In User section you can create new Users</li>
            <li>Signup new user or login with username" 'hasan' and password: 'password' as the user has prepopulated data</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
