<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Add new Task</h5>
          <form #taskForm = "ngForm"  (ngSubmit)="submit()">
            <div class="form-group">
              <label for="taskname">Task Name</label>
              <input type="text" class="form-control" id="taskname" name="taskname" #taskname="ngModel" [(ngModel)]="task.name" aria-describedby="emailHelp" placeholder="Task Name">
            </div>
            <div class="form-group">
              <label for="taskdesc">Task Description</label>
              <ckeditor id="taskdesc" [(ngModel)]="task.description" name="taskdesc" #taskdesc="ngModel" data="<p>Hello, world!</p>"></ckeditor>
            </div>
            <div class="form-group">
              <label for="startdate">Start Date</label>
              <input type="datetime-local" [(ngModel)]="task.startDate" name="startdate" #startdate = "ngModel" class="form-control" id="startdate"  >
            </div>
            <div class="form-group">
              <label for="enddate">Start Date</label>
              <input type="datetime-local" [(ngModel)]="task.endDate" name="enddate" #enddate="ngModel" class="form-control" id="enddate"  >
            </div>
            <div class="form-group">
              <label for="user">Assign To</label>
              <select [(ngModel)]="task.assignedToId"  name="user" #user = "ngModel"  id="user" name="user">
                <option *ngFor="let user of users|async" [selected]="user.id === task.assignedToId"  value="{{user.id}}">{{user.userName}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
