<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="card" >
        <div class="card-body">
          <h5 >Manage your Board</h5>
          <div class="align-middle" style="margin:0 auto;">
            <a routerLink="/admin/task">
              <div class="col-xl-3 col-sm-3 py-2" style="float: left;margin: 0 auto;">
                <div class="card bg-success text-white h-100">
                  <div class="card-body bg-success">
                    <div class="rotate">
                      <i class="fa fa-tasks fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Manage Tasks</h6>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="/admin/task/my">
              <div class="col-xl-3 col-sm-3 py-2" style="float: left;margin: 0 auto;">
                <div class="card bg-success text-white h-100">
                  <div class="card-body bg-success">
                    <div class="rotate">
                      <i class="fa fa-list-ol fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">My Tasks</h6>
                  </div>
                </div>
              </div>
            </a>
            <a routerLink="/admin/users">
              <div class="col-xl-3 col-sm-3 py-2" style="float: left;margin: 0 auto;">
                <div class="card bg-success text-white h-100">
                  <div class="card-body bg-success">
                    <div class="rotate">
                      <i class="fa fa-user-circle fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Manage Users</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
